<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Home - Murad Mutafayev</title>
</head>
<body>
    <div class="container">
        <h1>Murad Mustafayev - AI Engineer</h1>
        <h2>Feel free to contact!</h2>
        <p>
            <a href="https://www.linkedin.com/in/murad-mustafayev/"><i class="fa fa-linkedin"></i> Linkedin</a>
            <a href="https://github.com/Muradmustafayev-03"><i class="fa fa-github"></i> Github</a>
        </p>
        <p>
            <a href="/cv/en/download"><i class="fa fa-download"></i></a>
            <a href="/cv/en">My CV in English</a>
        </p>
        <p>
            <a href="/cv/fr/download"><i class="fa fa-download"></i></a>
            <a href="/cv/fr">My CV in French</a>
        </p>
        <p>
            <a href="#" class="coming-soon portfolio">Portfolio (Coming Soon)</a>
        </p>
    </div>
</body>
</html>
