<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murad Mustafayev CV</title>
    <link rel="stylesheet" href="/static/css/resume_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="floating-button">
        <a href="http://localhost:8080/resume/download/en/" download="Murad_Mustafayev_CV_en.pdf">
            <i class="fas fa-download"></i> Download CV
        </a>
    </div>
    <div class="floating-button language">
        <a href="http://localhost:8080/resume/fr/">
            <i class="fas fa-language"></i> French version
        </a>
    </div>
    <div class="container">
        <div class="left-side">
            <div class="photo">
                <img src="/static/img/id_photo.jpg" alt="Your Photo">
            </div>
            <div class="contact-info">
                <h2>Contact</h2>
                <p><i class="fas fa-envelope"></i><a href="mailto:muradmustafayev03@gmail.com">muradmustafayev03@gmail.com</a></p>
                <p><i class="fas fa-phone"></i> <a href="tel:+994513302003">+994 51 330 20 03</a></p>
                <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/murad-mustafayev/">murad-mustafayev</a></p>
                <p><i class="fab fa-github"></i> <a href="https://github.com/Muradmustafayev-03">Muradmustafayev-03</a></p>
            </div>
            <br>
            <div class="skills">
                <h2>Skills</h2>
                <ul>
                    <li>Python, C, C++, Java</li>
                    <li>OpenCV, Pillow, Dlib</li>
                    <li>TensorFlow, Keras, Pytorch</li>
                    <li>Numpy, Matplotlib, Scikit-Learn</li>
                    <li>Git, Docker, Cloud Services</li>
                </ul>
            </div>
            <br>
            <div class="languages">
                <h2>Languages</h2>
                <ul>
                    <li>English (Fluent)</li>
                    <li>French (Intermediate)</li>
                    <li>Russian (Native/Bilingual)</li>
                    <li>Azerbaijani (Native/Bilingual)</li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <header>
                <h1>Murad Mustafayev</h1>
                <p>AI/ML Engineer</p>
            </header>
            <section class="summary">
                <p>
                    Motivated AI/ML Engineer with a progressive career in Computer Vision, specializing in real-time multi-agent systems.
                    Proven expertise in leading projects from concept to production, effectively managing and mentoring interns.
                    Have experience with GANs for image-to-image applications.
                </p>
            </section>
            <section class="experience">
                <h2>Experience</h2>
                <div class="job">
                    <h3>Computer Vision Engineer</h3>
                    <p>AZAI Tech, Baku, Azerbaijan | 2023 - Present</p>
                    <ul>
                        <li>Designed and developed real-time multi-agent Computer Vision systems</li>
                        <li>Optimized Computer Vision systems for hardware-constrained conditions</li>
                        <li>Trained and fine-tuned existing as well as designed custom DL aechitectures</li>
                        <li>Utilized transfer learning for Computer Vision applications</li>
                    </ul>
                    <p>
                        <strong>Tech Stack:</strong>
                        Python, C++, OpenCV, Dlib, TensorFlow, Keras, Pytorch, NumPy, CUDA, YOLO, ultralytics,
                        MobileNet, R-CNN, Docker, Azure, AWS, DeepFace, FAISS
                    </p>
                </div>
                <br>
                <div class="job">
                    <h3>Python Developer (Backend + AI)</h3>
                    <p>Freelance | 2020 - Present</p>
                    <ul>
                        <li>Worked with NLP, Computer Vision and Embedding Search</li>
                        <li>Developed Python scripts to automate data processing tasks</li>
                        <li>Designed and developed RESTful APIs with FastAPI/Flask</li>
                    </ul>
                    <p>
                        <strong>Tech Stack:</strong>
                        Python, Django, FastAPI, Flask, Regex, TensorFlow, Keras, NumPy, Pandas, Scikit-Learn, OpenCV,
                        YOLO, ultralytics, Docker, Digital Ocean
                    </p>
                </div>
            </section>
            <section class="education">
                <h2>Education</h2>
                <div class="degree">
                    <h3>Bachelor's Degree in Computer Science</h3>
                    <p>University of Strasbourg | 2021 - 2024</p>
                    <ul>
                        <li>Relevant Courses: Artificial Intelligence, Computer Vision, Signal Processing</li>
                        <li>GPA: 90/100</li>
                    </ul>
                </div>
            </section>
            <section class="certifications">
                <h2>Accomplishments</h2>
                <ul>
                    <li>3-rd place winner Google AI Hackathon in Azerbaijan, 2024</li>
                    <li>3-rd place winner on the local stage of AcInSpace international competition, 2022</li>
                    <li>Finalist of the ABB Innovation Startup Challenge, 2022</li>
                    <li>Strasbourg University Summer School participant, 2022</li>
                    <li>Earth, Energy & Environment Conference participant, 2021</li>
                </ul>
            </section>
            <br>
            <br>
            <br>
        </div>
    </div>
</body>
</html>
